In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('data/realistic_sales_data.csv',parse_dates=['date'])

In [8]:
df.head()

        date  sales
0 2020-01-01  114.0
1 2020-01-02  100.0
2 2020-01-03  121.0
3 2020-01-04  201.0
4 2020-01-05  154.0

In [12]:
df['date'].dt.day_name()

0       Wednesday
1        Thursday
2          Friday
3        Saturday
4          Sunday
          ...
1822       Friday
1823     Saturday
1824       Sunday
1825       Monday
1826      Tuesday
Name: date, Length: 1827, dtype: object

In [13]:
df

           date  sales
0    2020-01-01  114.0
1    2020-01-02  100.0
2    2020-01-03  121.0
3    2020-01-04  201.0
4    2020-01-05  154.0
...         ...    ...
1822 2024-12-27  489.0
1823 2024-12-28  534.0
1824 2024-12-29  558.0
1825 2024-12-30  510.0
1826 2024-12-31  474.0

[1827 rows x 2 columns]

In [ ]:
# Prophet 모델 초기화 하고 학습

In [17]:
from prophet import Prophet
model=Prophet()

ModuleNotFoundError: No module named 'prophet'